# Clase - Computación Distribuida

## Pyspark Hands-on 
#### Marcelo Medel Vergara - Diplomado Data Engineer USACH

### Carpeta con archivos del notebook

Data: https://drive.google.com/drive/u/0/folders/1_nzJ7j44ZMacRGH8t-0ZgszX0-MM0pcq


### Read / Write datos desde múltiples fuentes de datos
<!-- insert url -->

Documentación de referencia: https://spark.apache.org/docs/3.5.2/api/python/reference/pyspark.sql/io.html

- `pyspark.sql.SparkSession.read`
- `pyspark.sql.DataFrameWriter`

In [1]:
import findspark
findspark.find()

'/Users/marcelomedel/opt/anaconda3/envs/pyspark-v2/lib/python3.10/site-packages/pyspark'

In [2]:
findspark.init()

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("hands-on-2").getOrCreate()
spark.active()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/14 19:38:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
path_csv = "data/2015-summary.csv"

df = spark.read.csv(path_csv, header=True, sep=",", inferSchema=True)
df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [9]:
path_json = "data/2015-summary-v2.json"
df.write.json(path_json, mode = "overwrite") # overwrite, append, error, ignore

In [10]:
spark.read.json(path_json).show(10)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
|    United States|          Singapore|    1|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
|          Senegal|      United States|   40|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+
only showing top 10 rows

In [11]:
path_txt = 'data/Don-Quijote.txt'
spark.read.text(path_txt).show()

+--------------------+
|               value|
+--------------------+
|The Project Guten...|
|                    |
|This ebook is for...|
|most other parts ...|
|whatsoever. You m...|
|of the Project Gu...|
|at www.gutenberg....|
|you will have to ...|
|before using this...|
|                    |
|  Title: Don Quijote|
|                    |
|Author: Miguel de...|
|                    |
|Release date: Dec...|
|                M...|
|                    |
|   Language: Spanish|
|                    |
|Credits: an anony...|
+--------------------+
only showing top 20 rows

In [12]:
path_json = "data/2015-summary-v2.json"
spark.read.format("json").load(path_json).show(10)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
|    United States|          Singapore|    1|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
|          Senegal|      United States|   40|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+
only showing top 10 rows

In [13]:
spark.read.format("csv").load(path_csv).show(10)

+-----------------+-------------------+-----+
|              _c0|                _c1|  _c2|
+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
|    United States|          Singapore|    1|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
|          Senegal|      United States|   40|
+-----------------+-------------------+-----+
only showing top 10 rows

In [17]:
df = spark.read.parquet("data/linkedin.parquet")
df.show(10, truncate=False)

+----------+-----------+--------------------------------------------------+----------+----------+-------------------+----------------------------+-------+--------------+-----+--------------------------+---------+------------+---------------------------------+--------------+--------------+
|job_id    |company_id |title                                             |min_salary|pay_period|formatted_work_type|location                    |applies|remote_allowed|views|formatted_experience_level|sponsored|company_size|industry                         |employee_count|follower_count|
+----------+-----------+--------------------------------------------------+----------+----------+-------------------+----------------------------+-------+--------------+-----+--------------------------+---------+------------+---------------------------------+--------------+--------------+
|2148434586|2780388.0  |Manager, Salesforce Platform                      |98640.0   |YEARLY    |Full-time          |New Hampshire, United States|0.0    |0.0           |0.0  |Mid-Senior level          |0        |5.0         |Real Estate                      |1132.0        |29459.0       |
|2148434616|15564.0    |Lead Solar Maintenance Roofer, Residential Service|19.0      |HOURLY    |Full-time          |San Diego, CA               |0.0    |0.0           |0.0  |Mid-Senior level          |0        |7.0         |Automotive                       |61796.0       |1.1874439E7   |
|2148434725|13074.0    |Mental Health Professional                        |55280.0   |YEARLY    |Full-time          |Spokane, WA                 |0.0    |0.0           |0.0  |Entry level               |0        |7.0         |Hospital & Health Care           |10035.0       |42011.0       |
|2148434726|13074.0    |Mental Health Professional                        |55280.0   |YEARLY    |Full-time          |Spokane, WA                 |0.0    |0.0           |0.0  |Entry level               |0        |7.0         |Hospital & Health Care           |10035.0       |42011.0       |
|2148434909|6600327.0  |Clinic Managers - Physical Therapist              |91010.65  |YEARLY    |Full-time          |Puyallup, WA                |0.0    |0.0           |0.0  |Mid-Senior level          |0        |3.0         |Hospital & Health Care           |198.0         |643.0         |
|2649106600|1.0496448E7|Lead Software Engineer                            |160000.0  |YEARLY    |Full-time          |United States               |1.0    |1.0           |10.0 |Mid-Senior level          |0        |2.0         |Information Technology & Services|219.0         |25751.0       |
|3557311439|9817526.0  |Territory Associate                               |45000.0   |YEARLY    |Full-time          |San Gabriel, CA             |0.0    |0.0           |0.0  |Entry level               |0        |4.0         |Medical Device                   |472.0         |9590.0        |
|3584068782|583005.0   |Sales Account Executive - Court & Process         |60000.0   |YEARLY    |Full-time          |San Francisco Bay Area      |2.0    |0.0           |5.0  |Executive                 |0        |4.0         |Law Practice                     |352.0         |4485.0        |
|3636503102|408636.0   |Remote Licensed Health Insurance Agent            |18.0      |HOURLY    |Full-time          |United States               |0.0    |1.0           |0.0  |Associate                 |1        |5.0         |Staffing & Recruiting            |4303.0        |44848.0       |
|3680164564|6648075.0  |Principal                                         |160000.0  |YEARLY    |Full-time          |Chicago, IL                 |21.0   |0.0           |117.0|Director                  |0        |1.0         |Staffing & Recruiting            |17.0          |27218.0       |
+----------+-----------+--------------------------------------------------+----------+----------+-------------------+----------------------------+-------+--------------+-----+--------------------------+---------+------------+---------------------------------+--------------+--------------+
only showing top 10 rows

In [16]:
df.show(1, vertical=True, truncate=False)

-RECORD 0--------------------------------------------------
 job_id                     | 2148434586
 company_id                 | 2780388.0
 title                      | Manager, Salesforce Platform
 min_salary                 | 98640.0
 pay_period                 | YEARLY
 formatted_work_type        | Full-time
 location                   | New Hampshire, United States
 applies                    | 0.0
 remote_allowed             | 0.0
 views                      | 0.0
 formatted_experience_level | Mid-Senior level
 sponsored                  | 0
 company_size               | 5.0
 industry                   | Real Estate
 employee_count             | 1132.0
 follower_count             | 29459.0
only showing top 1 row

In [18]:
df.printSchema()

root
 |-- job_id: long (nullable = true)
 |-- company_id: double (nullable = true)
 |-- title: string (nullable = true)
 |-- min_salary: double (nullable = true)
 |-- pay_period: string (nullable = true)
 |-- formatted_work_type: string (nullable = true)
 |-- location: string (nullable = true)
 |-- applies: double (nullable = true)
 |-- remote_allowed: double (nullable = true)
 |-- views: double (nullable = true)
 |-- formatted_experience_level: string (nullable = true)
 |-- sponsored: integer (nullable = true)
 |-- company_size: double (nullable = true)
 |-- industry: string (nullable = true)
 |-- employee_count: double (nullable = true)
 |-- follower_count: double (nullable = true)

### Data Type Conversion

In [21]:
from pyspark.sql.functions import col
from pyspark.sql.types import StringType, IntegerType, BooleanType

df = df.withColumn("job_id", col("job_id").cast(StringType()))
df = df.withColumn("company_id", col("company_id").cast(StringType()))
df = df.withColumn("min_salary", col("min_salary").cast(IntegerType()))
df = df.withColumn("remote_allowed", col("remote_allowed").cast(BooleanType()))
df.printSchema()

root
 |-- job_id: string (nullable = true)
 |-- company_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- min_salary: integer (nullable = true)
 |-- pay_period: string (nullable = true)
 |-- formatted_work_type: string (nullable = true)
 |-- location: string (nullable = true)
 |-- applies: double (nullable = true)
 |-- remote_allowed: boolean (nullable = true)
 |-- views: double (nullable = true)
 |-- formatted_experience_level: string (nullable = true)
 |-- sponsored: integer (nullable = true)
 |-- company_size: double (nullable = true)
 |-- industry: string (nullable = true)
 |-- employee_count: double (nullable = true)
 |-- follower_count: double (nullable = true)

In [20]:
df.show()

+----------+-----------+--------------------+----------+----------+-------------------+--------------------+-------+--------------+-----+--------------------------+---------+------------+--------------------+--------------+--------------+
|    job_id| company_id|               title|min_salary|pay_period|formatted_work_type|            location|applies|remote_allowed|views|formatted_experience_level|sponsored|company_size|            industry|employee_count|follower_count|
+----------+-----------+--------------------+----------+----------+-------------------+--------------------+-------+--------------+-----+--------------------------+---------+------------+--------------------+--------------+--------------+
|2148434586|  2780388.0|Manager, Salesfor...|     98640|    YEARLY|          Full-time|New Hampshire, Un...|    0.0|         false|  0.0|          Mid-Senior level|        0|         5.0|         Real Estate|        1132.0|       29459.0|
|2148434616|    15564.0|Lead Solar Mainte...|        19|    HOURLY|          Full-time|       San Diego, CA|    0.0|         false|  0.0|          Mid-Senior level|        0|         7.0|          Automotive|       61796.0|   1.1874439E7|
|2148434725|    13074.0|Mental Health Pro...|     55280|    YEARLY|          Full-time|         Spokane, WA|    0.0|         false|  0.0|               Entry level|        0|         7.0|Hospital & Health...|       10035.0|       42011.0|
|2148434726|    13074.0|Mental Health Pro...|     55280|    YEARLY|          Full-time|         Spokane, WA|    0.0|         false|  0.0|               Entry level|        0|         7.0|Hospital & Health...|       10035.0|       42011.0|
|2148434909|  6600327.0|Clinic Managers -...|     91010|    YEARLY|          Full-time|        Puyallup, WA|    0.0|         false|  0.0|          Mid-Senior level|        0|         3.0|Hospital & Health...|         198.0|         643.0|
|2649106600|1.0496448E7|Lead Software Eng...|    160000|    YEARLY|          Full-time|       United States|    1.0|          true| 10.0|          Mid-Senior level|        0|         2.0|Information Techn...|         219.0|       25751.0|
|3557311439|  9817526.0|Territory Associate |     45000|    YEARLY|          Full-time|     San Gabriel, CA|    0.0|         false|  0.0|               Entry level|        0|         4.0|      Medical Device|         472.0|        9590.0|
|3584068782|   583005.0|Sales Account Exe...|     60000|    YEARLY|          Full-time|San Francisco Bay...|    2.0|         false|  5.0|                 Executive|        0|         4.0|        Law Practice|         352.0|        4485.0|
|3636503102|   408636.0|Remote Licensed H...|        18|    HOURLY|          Full-time|       United States|    0.0|          true|  0.0|                 Associate|        1|         5.0|Staffing & Recrui...|        4303.0|       44848.0|
|3680164564|  6648075.0|           Principal|    160000|    YEARLY|          Full-time|         Chicago, IL|   21.0|         false|117.0|                  Director|        0|         1.0|Staffing & Recrui...|          17.0|       27218.0|
|3682818140|6.8921004E7|Senior Business I...|       100|    YEARLY|           Contract|        McKinney, TX|   41.0|         false|155.0|                 Executive|        0|         1.0|Information Techn...|          12.0|       10327.0|
|3689687080|   252624.0|        Area Manager|     90000|    YEARLY|          Full-time|         Buffalo, NY|   39.0|         false|114.0|          Mid-Senior level|        1|         6.0|           Utilities|        1771.0|       11720.0|
|3690804650|   260776.0|Director of Engin...|    127000|    YEARLY|          Full-time|           Largo, FL|   86.0|         false|433.0|          Mid-Senior level|        0|         4.0|     Pharmaceuticals|         311.0|        5405.0|
|3690841406|   477012.0|Russian Linguist ...|    100000|    YEARLY|          Full-time|        Quantico, VA|   16.0|         false|185.0|          Mid-Senior level|        0|         2.0|Information Techn...|          16.0|        2274.0|
|3690867240|  1724775.0| Mechanical Designer|        40|    HOURLY|           Contract|        Manassas, VA|   26.0|         false|100.0|                 Associate|        0|         4.0|        Oil & Energy|         140.0|       35612.0|
|3692301171|   298409.0|   Project Assistant|     35000|    YEARLY|          Full-time|      Minnetonka, MN|    3.0|         false|  6.0|               Entry level|        0|         4.0|Staffing & Recrui...|         395.0|      146780.0|
|3692302089|    37768.0|Data Scientist/ P...|        70|    HOURLY|           Contract|   San Francisco, CA|    7.0|         false| 37.0|          Mid-Senior level|        0|         5.0|Information Techn...|        2025.0|      231947.0|
|3692362958|  2413926.0|TicketManager - C...|        22|    HOURLY|          Full-time|           Tempe, AZ|    1.0|         false| 13.0|               Entry level|        0|         1.0|Staffing & Recrui...|          13.0|        8106.0|
|3692364560|  4857886.0|President TOA Glo...|    250000|    YEARLY|          Full-time|      Fort Worth, TX|    1.0|         false|  5.0|                 Executive|        0|         5.0|Outsourcing/Offsh...|        2948.0|       45509.0|
|3692368330|9.0723074E7|Assistant Resourc...|     45052|    YEARLY|          Full-time|          Tucson, AZ|    0.0|         false|  6.0|          Mid-Senior level|        0|         2.0|Non-profit Organi...|          96.0|         548.0|
+----------+-----------+--------------------+----------+----------+-------------------+--------------------+-------+--------------+-----+--------------------------+---------+------------+--------------------+--------------+--------------+
only showing top 20 rows

### String Manipulation

In [22]:
from pyspark.sql.functions import substring, concat, lower, upper, split

df = df.withColumn("pay_period", substring("pay_period",1,1))
df.show()

+----------+-----------+--------------------+----------+----------+-------------------+--------------------+-------+--------------+-----+--------------------------+---------+------------+--------------------+--------------+--------------+
|    job_id| company_id|               title|min_salary|pay_period|formatted_work_type|            location|applies|remote_allowed|views|formatted_experience_level|sponsored|company_size|            industry|employee_count|follower_count|
+----------+-----------+--------------------+----------+----------+-------------------+--------------------+-------+--------------+-----+--------------------------+---------+------------+--------------------+--------------+--------------+
|2148434586|  2780388.0|Manager, Salesfor...|     98640|         Y|          Full-time|New Hampshire, Un...|    0.0|         false|  0.0|          Mid-Senior level|        0|         5.0|         Real Estate|        1132.0|       29459.0|
|2148434616|    15564.0|Lead Solar Mainte...|        19|         H|          Full-time|       San Diego, CA|    0.0|         false|  0.0|          Mid-Senior level|        0|         7.0|          Automotive|       61796.0|   1.1874439E7|
|2148434725|    13074.0|Mental Health Pro...|     55280|         Y|          Full-time|         Spokane, WA|    0.0|         false|  0.0|               Entry level|        0|         7.0|Hospital & Health...|       10035.0|       42011.0|
|2148434726|    13074.0|Mental Health Pro...|     55280|         Y|          Full-time|         Spokane, WA|    0.0|         false|  0.0|               Entry level|        0|         7.0|Hospital & Health...|       10035.0|       42011.0|
|2148434909|  6600327.0|Clinic Managers -...|     91010|         Y|          Full-time|        Puyallup, WA|    0.0|         false|  0.0|          Mid-Senior level|        0|         3.0|Hospital & Health...|         198.0|         643.0|
|2649106600|1.0496448E7|Lead Software Eng...|    160000|         Y|          Full-time|       United States|    1.0|          true| 10.0|          Mid-Senior level|        0|         2.0|Information Techn...|         219.0|       25751.0|
|3557311439|  9817526.0|Territory Associate |     45000|         Y|          Full-time|     San Gabriel, CA|    0.0|         false|  0.0|               Entry level|        0|         4.0|      Medical Device|         472.0|        9590.0|
|3584068782|   583005.0|Sales Account Exe...|     60000|         Y|          Full-time|San Francisco Bay...|    2.0|         false|  5.0|                 Executive|        0|         4.0|        Law Practice|         352.0|        4485.0|
|3636503102|   408636.0|Remote Licensed H...|        18|         H|          Full-time|       United States|    0.0|          true|  0.0|                 Associate|        1|         5.0|Staffing & Recrui...|        4303.0|       44848.0|
|3680164564|  6648075.0|           Principal|    160000|         Y|          Full-time|         Chicago, IL|   21.0|         false|117.0|                  Director|        0|         1.0|Staffing & Recrui...|          17.0|       27218.0|
|3682818140|6.8921004E7|Senior Business I...|       100|         Y|           Contract|        McKinney, TX|   41.0|         false|155.0|                 Executive|        0|         1.0|Information Techn...|          12.0|       10327.0|
|3689687080|   252624.0|        Area Manager|     90000|         Y|          Full-time|         Buffalo, NY|   39.0|         false|114.0|          Mid-Senior level|        1|         6.0|           Utilities|        1771.0|       11720.0|
|3690804650|   260776.0|Director of Engin...|    127000|         Y|          Full-time|           Largo, FL|   86.0|         false|433.0|          Mid-Senior level|        0|         4.0|     Pharmaceuticals|         311.0|        5405.0|
|3690841406|   477012.0|Russian Linguist ...|    100000|         Y|          Full-time|        Quantico, VA|   16.0|         false|185.0|          Mid-Senior level|        0|         2.0|Information Techn...|          16.0|        2274.0|
|3690867240|  1724775.0| Mechanical Designer|        40|         H|           Contract|        Manassas, VA|   26.0|         false|100.0|                 Associate|        0|         4.0|        Oil & Energy|         140.0|       35612.0|
|3692301171|   298409.0|   Project Assistant|     35000|         Y|          Full-time|      Minnetonka, MN|    3.0|         false|  6.0|               Entry level|        0|         4.0|Staffing & Recrui...|         395.0|      146780.0|
|3692302089|    37768.0|Data Scientist/ P...|        70|         H|           Contract|   San Francisco, CA|    7.0|         false| 37.0|          Mid-Senior level|        0|         5.0|Information Techn...|        2025.0|      231947.0|
|3692362958|  2413926.0|TicketManager - C...|        22|         H|          Full-time|           Tempe, AZ|    1.0|         false| 13.0|               Entry level|        0|         1.0|Staffing & Recrui...|          13.0|        8106.0|
|3692364560|  4857886.0|President TOA Glo...|    250000|         Y|          Full-time|      Fort Worth, TX|    1.0|         false|  5.0|                 Executive|        0|         5.0|Outsourcing/Offsh...|        2948.0|       45509.0|
|3692368330|9.0723074E7|Assistant Resourc...|     45052|         Y|          Full-time|          Tucson, AZ|    0.0|         false|  6.0|          Mid-Senior level|        0|         2.0|Non-profit Organi...|          96.0|         548.0|
+----------+-----------+--------------------+----------+----------+-------------------+--------------------+-------+--------------+-----+--------------------------+---------+------------+--------------------+--------------+--------------+
only showing top 20 rows

In [28]:
from pyspark.sql.functions import lit
df.withColumn("title_extendido",lower(concat("formatted_experience_level", lit(" - "), "title"))).show(10, truncate=False)
df.withColumn("title_extendido",upper(concat("formatted_experience_level", lit(" - "), "title"))).show(10, truncate=True)

+----------+-----------+--------------------------------------------------+----------+----------+-------------------+----------------------------+-------+--------------+-----+--------------------------+---------+------------+---------------------------------+--------------+--------------+---------------------------------------------------------------------+
|job_id    |company_id |title                                             |min_salary|pay_period|formatted_work_type|location                    |applies|remote_allowed|views|formatted_experience_level|sponsored|company_size|industry                         |employee_count|follower_count|title_extendido                                                      |
+----------+-----------+--------------------------------------------------+----------+----------+-------------------+----------------------------+-------+--------------+-----+--------------------------+---------+------------+---------------------------------+--------------+--------------+---------------------------------------------------------------------+
|2148434586|2780388.0  |Manager, Salesforce Platform                      |98640     |Y         |Full-time          |New Hampshire, United States|0.0    |false         |0.0  |Mid-Senior level          |0        |5.0         |Real Estate                      |1132.0        |29459.0       |mid-senior level - manager, salesforce platform                      |
|2148434616|15564.0    |Lead Solar Maintenance Roofer, Residential Service|19        |H         |Full-time          |San Diego, CA               |0.0    |false         |0.0  |Mid-Senior level          |0        |7.0         |Automotive                       |61796.0       |1.1874439E7   |mid-senior level - lead solar maintenance roofer, residential service|
|2148434725|13074.0    |Mental Health Professional                        |55280     |Y         |Full-time          |Spokane, WA                 |0.0    |false         |0.0  |Entry level               |0        |7.0         |Hospital & Health Care           |10035.0       |42011.0       |entry level - mental health professional                             |
|2148434726|13074.0    |Mental Health Professional                        |55280     |Y         |Full-time          |Spokane, WA                 |0.0    |false         |0.0  |Entry level               |0        |7.0         |Hospital & Health Care           |10035.0       |42011.0       |entry level - mental health professional                             |
|2148434909|6600327.0  |Clinic Managers - Physical Therapist              |91010     |Y         |Full-time          |Puyallup, WA                |0.0    |false         |0.0  |Mid-Senior level          |0        |3.0         |Hospital & Health Care           |198.0         |643.0         |mid-senior level - clinic managers - physical therapist              |
|2649106600|1.0496448E7|Lead Software Engineer                            |160000    |Y         |Full-time          |United States               |1.0    |true          |10.0 |Mid-Senior level          |0        |2.0         |Information Technology & Services|219.0         |25751.0       |mid-senior level - lead software engineer                            |
|3557311439|9817526.0  |Territory Associate                               |45000     |Y         |Full-time          |San Gabriel, CA             |0.0    |false         |0.0  |Entry level               |0        |4.0         |Medical Device                   |472.0         |9590.0        |entry level - territory associate                                    |
|3584068782|583005.0   |Sales Account Executive - Court & Process         |60000     |Y         |Full-time          |San Francisco Bay Area      |2.0    |false         |5.0  |Executive                 |0        |4.0         |Law Practice                     |352.0         |4485.0        |executive - sales account executive - court & process                |
|3636503102|408636.0   |Remote Licensed Health Insurance Agent            |18        |H         |Full-time          |United States               |0.0    |true          |0.0  |Associate                 |1        |5.0         |Staffing & Recruiting            |4303.0        |44848.0       |associate - remote licensed health insurance agent                   |
|3680164564|6648075.0  |Principal                                         |160000    |Y         |Full-time          |Chicago, IL                 |21.0   |false         |117.0|Director                  |0        |1.0         |Staffing & Recruiting            |17.0          |27218.0       |director - principal                                                 |
+----------+-----------+--------------------------------------------------+----------+----------+-------------------+----------------------------+-------+--------------+-----+--------------------------+---------+------------+---------------------------------+--------------+--------------+---------------------------------------------------------------------+
only showing top 10 rows

+----------+-----------+--------------------+----------+----------+-------------------+--------------------+-------+--------------+-----+--------------------------+---------+------------+--------------------+--------------+--------------+--------------------+
|    job_id| company_id|               title|min_salary|pay_period|formatted_work_type|            location|applies|remote_allowed|views|formatted_experience_level|sponsored|company_size|            industry|employee_count|follower_count|     title_extendido|
+----------+-----------+--------------------+----------+----------+-------------------+--------------------+-------+--------------+-----+--------------------------+---------+------------+--------------------+--------------+--------------+--------------------+
|2148434586|  2780388.0|Manager, Salesfor...|     98640|         Y|          Full-time|New Hampshire, Un...|    0.0|         false|  0.0|          Mid-Senior level|        0|         5.0|         Real Estate|        1132.0|       29459.0|MID-SENIOR LEVEL ...|
|2148434616|    15564.0|Lead Solar Mainte...|        19|         H|          Full-time|       San Diego, CA|    0.0|         false|  0.0|          Mid-Senior level|        0|         7.0|          Automotive|       61796.0|   1.1874439E7|MID-SENIOR LEVEL ...|
|2148434725|    13074.0|Mental Health Pro...|     55280|         Y|          Full-time|         Spokane, WA|    0.0|         false|  0.0|               Entry level|        0|         7.0|Hospital & Health...|       10035.0|       42011.0|ENTRY LEVEL - MEN...|
|2148434726|    13074.0|Mental Health Pro...|     55280|         Y|          Full-time|         Spokane, WA|    0.0|         false|  0.0|               Entry level|        0|         7.0|Hospital & Health...|       10035.0|       42011.0|ENTRY LEVEL - MEN...|
|2148434909|  6600327.0|Clinic Managers -...|     91010|         Y|          Full-time|        Puyallup, WA|    0.0|         false|  0.0|          Mid-Senior level|        0|         3.0|Hospital & Health...|         198.0|         643.0|MID-SENIOR LEVEL ...|
|2649106600|1.0496448E7|Lead Software Eng...|    160000|         Y|          Full-time|       United States|    1.0|          true| 10.0|          Mid-Senior level|        0|         2.0|Information Techn...|         219.0|       25751.0|MID-SENIOR LEVEL ...|
|3557311439|  9817526.0|Territory Associate |     45000|         Y|          Full-time|     San Gabriel, CA|    0.0|         false|  0.0|               Entry level|        0|         4.0|      Medical Device|         472.0|        9590.0|ENTRY LEVEL - TER...|
|3584068782|   583005.0|Sales Account Exe...|     60000|         Y|          Full-time|San Francisco Bay...|    2.0|         false|  5.0|                 Executive|        0|         4.0|        Law Practice|         352.0|        4485.0|EXECUTIVE - SALES...|
|3636503102|   408636.0|Remote Licensed H...|        18|         H|          Full-time|       United States|    0.0|          true|  0.0|                 Associate|        1|         5.0|Staffing & Recrui...|        4303.0|       44848.0|ASSOCIATE - REMOT...|
|3680164564|  6648075.0|           Principal|    160000|         Y|          Full-time|         Chicago, IL|   21.0|         false|117.0|                  Director|        0|         1.0|Staffing & Recrui...|          17.0|       27218.0|DIRECTOR - PRINCIPAL|
+----------+-----------+--------------------+----------+----------+-------------------+--------------------+-------+--------------+-----+--------------------------+---------+------------+--------------------+--------------+--------------+--------------------+
only showing top 10 rows

In [36]:
df = df.withColumn("location2", split("location",","))
df.show(truncate=False)

+----------+-----------+--------------------------------------------------+----------+----------+-------------------+----------------------------+-------+--------------+-----+--------------------------+---------+------------+----------------------------------+--------------+--------------+-------------------------------+
|job_id    |company_id |title                                             |min_salary|pay_period|formatted_work_type|location                    |applies|remote_allowed|views|formatted_experience_level|sponsored|company_size|industry                          |employee_count|follower_count|location2                      |
+----------+-----------+--------------------------------------------------+----------+----------+-------------------+----------------------------+-------+--------------+-----+--------------------------+---------+------------+----------------------------------+--------------+--------------+-------------------------------+
|2148434586|2780388.0  |Manager, Salesforce Platform                      |98640     |Y         |Full-time          |New Hampshire, United States|0.0    |false         |0.0  |Mid-Senior level          |0        |5.0         |Real Estate                       |1132.0        |29459.0       |[New Hampshire,  United States]|
|2148434616|15564.0    |Lead Solar Maintenance Roofer, Residential Service|19        |H         |Full-time          |San Diego, CA               |0.0    |false         |0.0  |Mid-Senior level          |0        |7.0         |Automotive                        |61796.0       |1.1874439E7   |[San Diego,  CA]               |
|2148434725|13074.0    |Mental Health Professional                        |55280     |Y         |Full-time          |Spokane, WA                 |0.0    |false         |0.0  |Entry level               |0        |7.0         |Hospital & Health Care            |10035.0       |42011.0       |[Spokane,  WA]                 |
|2148434726|13074.0    |Mental Health Professional                        |55280     |Y         |Full-time          |Spokane, WA                 |0.0    |false         |0.0  |Entry level               |0        |7.0         |Hospital & Health Care            |10035.0       |42011.0       |[Spokane,  WA]                 |
|2148434909|6600327.0  |Clinic Managers - Physical Therapist              |91010     |Y         |Full-time          |Puyallup, WA                |0.0    |false         |0.0  |Mid-Senior level          |0        |3.0         |Hospital & Health Care            |198.0         |643.0         |[Puyallup,  WA]                |
|2649106600|1.0496448E7|Lead Software Engineer                            |160000    |Y         |Full-time          |United States               |1.0    |true          |10.0 |Mid-Senior level          |0        |2.0         |Information Technology & Services |219.0         |25751.0       |[United States]                |
|3557311439|9817526.0  |Territory Associate                               |45000     |Y         |Full-time          |San Gabriel, CA             |0.0    |false         |0.0  |Entry level               |0        |4.0         |Medical Device                    |472.0         |9590.0        |[San Gabriel,  CA]             |
|3584068782|583005.0   |Sales Account Executive - Court & Process         |60000     |Y         |Full-time          |San Francisco Bay Area      |2.0    |false         |5.0  |Executive                 |0        |4.0         |Law Practice                      |352.0         |4485.0        |[San Francisco Bay Area]       |
|3636503102|408636.0   |Remote Licensed Health Insurance Agent            |18        |H         |Full-time          |United States               |0.0    |true          |0.0  |Associate                 |1        |5.0         |Staffing & Recruiting             |4303.0        |44848.0       |[United States]                |
|3680164564|6648075.0  |Principal                                         |160000    |Y         |Full-time          |Chicago, IL                 |21.0   |false         |117.0|Director                  |0        |1.0         |Staffing & Recruiting             |17.0          |27218.0       |[Chicago,  IL]                 |
|3682818140|6.8921004E7|Senior Business Intelligence Developer            |100       |Y         |Contract           |McKinney, TX                |41.0   |false         |155.0|Executive                 |0        |1.0         |Information Technology & Services |12.0          |10327.0       |[McKinney,  TX]                |
|3689687080|252624.0   |Area Manager                                      |90000     |Y         |Full-time          |Buffalo, NY                 |39.0   |false         |114.0|Mid-Senior level          |1        |6.0         |Utilities                         |1771.0        |11720.0       |[Buffalo,  NY]                 |
|3690804650|260776.0   |Director of Engineering                           |127000    |Y         |Full-time          |Largo, FL                   |86.0   |false         |433.0|Mid-Senior level          |0        |4.0         |Pharmaceuticals                   |311.0         |5405.0        |[Largo,  FL]                   |
|3690841406|477012.0   |Russian Linguist with TS/SCI                      |100000    |Y         |Full-time          |Quantico, VA                |16.0   |false         |185.0|Mid-Senior level          |0        |2.0         |Information Technology & Services |16.0          |2274.0        |[Quantico,  VA]                |
|3690867240|1724775.0  |Mechanical Designer                               |40        |H         |Contract           |Manassas, VA                |26.0   |false         |100.0|Associate                 |0        |4.0         |Oil & Energy                      |140.0         |35612.0       |[Manassas,  VA]                |
|3692301171|298409.0   |Project Assistant                                 |35000     |Y         |Full-time          |Minnetonka, MN              |3.0    |false         |6.0  |Entry level               |0        |4.0         |Staffing & Recruiting             |395.0         |146780.0      |[Minnetonka,  MN]              |
|3692302089|37768.0    |Data Scientist/ Product Analyst                   |70        |H         |Contract           |San Francisco, CA           |7.0    |false         |37.0 |Mid-Senior level          |0        |5.0         |Information Technology & Services |2025.0        |231947.0      |[San Francisco,  CA]           |
|3692362958|2413926.0  |TicketManager - Customer Support Specialist       |22        |H         |Full-time          |Tempe, AZ                   |1.0    |false         |13.0 |Entry level               |0        |1.0         |Staffing & Recruiting             |13.0          |8106.0        |[Tempe,  AZ]                   |
|3692364560|4857886.0  |President TOA Global - North America              |250000    |Y         |Full-time          |Fort Worth, TX              |1.0    |false         |5.0  |Executive                 |0        |5.0         |Outsourcing/Offshoring            |2948.0        |45509.0       |[Fort Worth,  TX]              |
|3692368330|9.0723074E7|Assistant Resource Center Manager                 |45052     |Y         |Full-time          |Tucson, AZ                  |0.0    |false         |6.0  |Mid-Senior level          |0        |2.0         |Non-profit Organization Management|96.0          |548.0         |[Tucson,  AZ]                  |
+----------+-----------+--------------------------------------------------+----------+----------+-------------------+----------------------------+-------+--------------+-----+--------------------------+---------+------------+----------------------------------+--------------+--------------+-------------------------------+
only showing top 20 rows

In [31]:
df.printSchema()

root
 |-- job_id: string (nullable = true)
 |-- company_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- min_salary: integer (nullable = true)
 |-- pay_period: string (nullable = true)
 |-- formatted_work_type: string (nullable = true)
 |-- location: string (nullable = true)
 |-- applies: double (nullable = true)
 |-- remote_allowed: boolean (nullable = true)
 |-- views: double (nullable = true)
 |-- formatted_experience_level: string (nullable = true)
 |-- sponsored: integer (nullable = true)
 |-- company_size: double (nullable = true)
 |-- industry: string (nullable = true)
 |-- employee_count: double (nullable = true)
 |-- follower_count: double (nullable = true)
 |-- location2: array (nullable = true)
 |    |-- element: string (containsNull = false)

In [38]:
df.select("*",df.location2[0].alias("ciudad"), df.location2[1].alias("estado")).show()

+----------+-----------+--------------------+----------+----------+-------------------+--------------------+-------+--------------+-----+--------------------------+---------+------------+--------------------+--------------+--------------+--------------------+--------------------+--------------+
|    job_id| company_id|               title|min_salary|pay_period|formatted_work_type|            location|applies|remote_allowed|views|formatted_experience_level|sponsored|company_size|            industry|employee_count|follower_count|           location2|              ciudad|        estado|
+----------+-----------+--------------------+----------+----------+-------------------+--------------------+-------+--------------+-----+--------------------------+---------+------------+--------------------+--------------+--------------+--------------------+--------------------+--------------+
|2148434586|  2780388.0|Manager, Salesfor...|     98640|         Y|          Full-time|New Hampshire, Un...|    0.0|         false|  0.0|          Mid-Senior level|        0|         5.0|         Real Estate|        1132.0|       29459.0|[New Hampshire,  ...|       New Hampshire| United States|
|2148434616|    15564.0|Lead Solar Mainte...|        19|         H|          Full-time|       San Diego, CA|    0.0|         false|  0.0|          Mid-Senior level|        0|         7.0|          Automotive|       61796.0|   1.1874439E7|    [San Diego,  CA]|           San Diego|            CA|
|2148434725|    13074.0|Mental Health Pro...|     55280|         Y|          Full-time|         Spokane, WA|    0.0|         false|  0.0|               Entry level|        0|         7.0|Hospital & Health...|       10035.0|       42011.0|      [Spokane,  WA]|             Spokane|            WA|
|2148434726|    13074.0|Mental Health Pro...|     55280|         Y|          Full-time|         Spokane, WA|    0.0|         false|  0.0|               Entry level|        0|         7.0|Hospital & Health...|       10035.0|       42011.0|      [Spokane,  WA]|             Spokane|            WA|
|2148434909|  6600327.0|Clinic Managers -...|     91010|         Y|          Full-time|        Puyallup, WA|    0.0|         false|  0.0|          Mid-Senior level|        0|         3.0|Hospital & Health...|         198.0|         643.0|     [Puyallup,  WA]|            Puyallup|            WA|
|2649106600|1.0496448E7|Lead Software Eng...|    160000|         Y|          Full-time|       United States|    1.0|          true| 10.0|          Mid-Senior level|        0|         2.0|Information Techn...|         219.0|       25751.0|     [United States]|       United States|          NULL|
|3557311439|  9817526.0|Territory Associate |     45000|         Y|          Full-time|     San Gabriel, CA|    0.0|         false|  0.0|               Entry level|        0|         4.0|      Medical Device|         472.0|        9590.0|  [San Gabriel,  CA]|         San Gabriel|            CA|
|3584068782|   583005.0|Sales Account Exe...|     60000|         Y|          Full-time|San Francisco Bay...|    2.0|         false|  5.0|                 Executive|        0|         4.0|        Law Practice|         352.0|        4485.0|[San Francisco Ba...|San Francisco Bay...|          NULL|
|3636503102|   408636.0|Remote Licensed H...|        18|         H|          Full-time|       United States|    0.0|          true|  0.0|                 Associate|        1|         5.0|Staffing & Recrui...|        4303.0|       44848.0|     [United States]|       United States|          NULL|
|3680164564|  6648075.0|           Principal|    160000|         Y|          Full-time|         Chicago, IL|   21.0|         false|117.0|                  Director|        0|         1.0|Staffing & Recrui...|          17.0|       27218.0|      [Chicago,  IL]|             Chicago|            IL|
|3682818140|6.8921004E7|Senior Business I...|       100|         Y|           Contract|        McKinney, TX|   41.0|         false|155.0|                 Executive|        0|         1.0|Information Techn...|          12.0|       10327.0|     [McKinney,  TX]|            McKinney|            TX|
|3689687080|   252624.0|        Area Manager|     90000|         Y|          Full-time|         Buffalo, NY|   39.0|         false|114.0|          Mid-Senior level|        1|         6.0|           Utilities|        1771.0|       11720.0|      [Buffalo,  NY]|             Buffalo|            NY|
|3690804650|   260776.0|Director of Engin...|    127000|         Y|          Full-time|           Largo, FL|   86.0|         false|433.0|          Mid-Senior level|        0|         4.0|     Pharmaceuticals|         311.0|        5405.0|        [Largo,  FL]|               Largo|            FL|
|3690841406|   477012.0|Russian Linguist ...|    100000|         Y|          Full-time|        Quantico, VA|   16.0|         false|185.0|          Mid-Senior level|        0|         2.0|Information Techn...|          16.0|        2274.0|     [Quantico,  VA]|            Quantico|            VA|
|3690867240|  1724775.0| Mechanical Designer|        40|         H|           Contract|        Manassas, VA|   26.0|         false|100.0|                 Associate|        0|         4.0|        Oil & Energy|         140.0|       35612.0|     [Manassas,  VA]|            Manassas|            VA|
|3692301171|   298409.0|   Project Assistant|     35000|         Y|          Full-time|      Minnetonka, MN|    3.0|         false|  6.0|               Entry level|        0|         4.0|Staffing & Recrui...|         395.0|      146780.0|   [Minnetonka,  MN]|          Minnetonka|            MN|
|3692302089|    37768.0|Data Scientist/ P...|        70|         H|           Contract|   San Francisco, CA|    7.0|         false| 37.0|          Mid-Senior level|        0|         5.0|Information Techn...|        2025.0|      231947.0|[San Francisco,  CA]|       San Francisco|            CA|
|3692362958|  2413926.0|TicketManager - C...|        22|         H|          Full-time|           Tempe, AZ|    1.0|         false| 13.0|               Entry level|        0|         1.0|Staffing & Recrui...|          13.0|        8106.0|        [Tempe,  AZ]|               Tempe|            AZ|
|3692364560|  4857886.0|President TOA Glo...|    250000|         Y|          Full-time|      Fort Worth, TX|    1.0|         false|  5.0|                 Executive|        0|         5.0|Outsourcing/Offsh...|        2948.0|       45509.0|   [Fort Worth,  TX]|          Fort Worth|            TX|
|3692368330|9.0723074E7|Assistant Resourc...|     45052|         Y|          Full-time|          Tucson, AZ|    0.0|         false|  6.0|          Mid-Senior level|        0|         2.0|Non-profit Organi...|          96.0|         548.0|       [Tucson,  AZ]|              Tucson|            AZ|
+----------+-----------+--------------------+----------+----------+-------------------+--------------------+-------+--------------+-----+--------------------------+---------+------------+--------------------+--------------+--------------+--------------------+--------------------+--------------+
only showing top 20 rows

### Working with Dates

In [41]:
from pyspark.sql.types import StructField, StructType, StringType

data_dates = [
    ("A","2023-01-01"),
    ("b","2023-02-01"),
    ("C","2024-02-01"),
    ("E","2023-05-01"),
]
schema = StructType([
    StructField("tipo",StringType()),
    StructField("fecha",StringType()),
])

df_dates = spark.createDataFrame(data_dates, schema)
df_dates.show()

+----+----------+
|tipo|     fecha|
+----+----------+
|   A|2023-01-01|
|   b|2023-02-01|
|   C|2024-02-01|
|   E|2023-05-01|
+----+----------+

In [45]:
from pyspark.sql.functions import to_date, date_format, current_date, datediff

df_dates = df_dates.withColumn("fecha_dt", to_date(col("fecha"), "yyyy-MM-dd"))
df_dates.printSchema()
df_dates.show(10)

root
 |-- tipo: string (nullable = true)
 |-- fecha: string (nullable = true)
 |-- fecha_dt: date (nullable = true)

+----+----------+----------+
|tipo|     fecha|  fecha_dt|
+----+----------+----------+
|   A|2023-01-01|2023-01-01|
|   b|2023-02-01|2023-02-01|
|   C|2024-02-01|2024-02-01|
|   E|2023-05-01|2023-05-01|
+----+----------+----------+

In [53]:
df_dates = df_dates.withColumn("format_dt", date_format("fecha_dt", "yyyy-MM-dd"))
df_dates = df_dates.withColumn("format_dt2", date_format("fecha", "yyMM"))
df_dates.printSchema()
df_dates.show()

root
 |-- tipo: string (nullable = true)
 |-- fecha: string (nullable = true)
 |-- fecha_dt: date (nullable = true)
 |-- format_dt: string (nullable = true)
 |-- format_dt2: string (nullable = true)

+----+----------+----------+----------+----------+
|tipo|     fecha|  fecha_dt| format_dt|format_dt2|
+----+----------+----------+----------+----------+
|   A|2023-01-01|2023-01-01|2023-01-01|      2301|
|   b|2023-02-01|2023-02-01|2023-02-01|      2302|
|   C|2024-02-01|2024-02-01|2024-02-01|      2402|
|   E|2023-05-01|2023-05-01|2023-05-01|      2305|
+----+----------+----------+----------+----------+

In [58]:
df_dates.withColumn("diff_days", datediff(current_date(),col("fecha_dt"))).show()

+----+----------+----------+----------+----------+---------+
|tipo|     fecha|  fecha_dt| format_dt|format_dt2|diff_days|
+----+----------+----------+----------+----------+---------+
|   A|2023-01-01|2023-01-01|2023-01-01|      2301|      652|
|   b|2023-02-01|2023-02-01|2023-02-01|      2302|      621|
|   C|2024-02-01|2024-02-01|2024-02-01|      2402|      256|
|   E|2023-05-01|2023-05-01|2023-05-01|      2305|      532|
+----+----------+----------+----------+----------+---------+

In [57]:
df_dates.where("fecha_dt >= current_date").withColumn("diff_days", datediff(current_date(),col("fecha_dt"))).show()

+----+-----+--------+---------+----------+---------+
|tipo|fecha|fecha_dt|format_dt|format_dt2|diff_days|
+----+-----+--------+---------+----------+---------+
+----+-----+--------+---------+----------+---------+

### Handling Missing Data

### Aggregation and Grouping

### Joining DataFrames

## Spark SQL